extends layout

block content
  div(id="thumbnails")
    each photo in model.photoset.photo
      div(class="photo", data-src="https://farm#{photo.farm}.static.flickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_b.jpg")
        a(href="https://www.flickr.com/photos/#{model.userId}/#{photo.id}")
          img(src="#{photo.url}" width="#{photo.width}" height="#{photo.height}" alt="#{photo.title}" title="#{photo.title}")
        h3 #{photo.title} &nbsp;
  
  div(id="gallery")
    div(id="picture")

  script(type="text/javascript" src="/javascripts/lightgallery.min.js")
  script(type="text/javascript" src="/javascripts/site.min.js")
  link(href="/css/lightgallery.min.css", rel="stylesheet")
   