extends layout

block content
  each photo in model.photoset.photo
    div(class="photo", data-img-url="http://farm#{photo.farm}.static.flickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_b.jpg")
      a(href="https://www.flickr.com/photos/#{model.userId}/#{photo.id}")
        img(src="http://farm#{photo.farm}.static.flickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_z.jpg" alt="#{photo.title}" height="400", title="#{photo.title}")
      h3 #{photo.title} &nbsp;
  
  div(id="gallery")
    div(id="picture")

  script(type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js")
  script(type='text/javascript').
    (function () {
        var gallery = document.getElementById("gallery");
        var picture = document.getElementById("picture");
        var currentPicture;
        
        var img = document.createElement('img');
        picture.appendChild(img);
        
        function showPicture(element) {
            if(element && element.className === 'photo')
            {
                currentPicture = element;
                
                var photoUrl = element.getAttribute("data-img-url");                
                //var img = gallery.getElementsByTagName("img")[0];
                img.setAttribute("src", '');
                img.setAttribute("src", photoUrl);
            }
        };
        
        function showPrevPicture() {
            if(currentPicture) {
                showPicture(currentPicture.previousSibling);
            }
        }
        
        function showNextPicture() {
            if(currentPicture) {
                showPicture(currentPicture.nextSibling);    
            }
        }
        
        function hideGallery() {
            gallery.style.visibility = "hidden";
        }
        
        var photos = document.getElementsByClassName("photo");
        for(var i = 0, length = photos.length;i < length; i++) {
            var photo = photos[i]; 
            photo.onclick = function (e) {
                e.preventDefault();

                showPicture(this);                
                gallery.style.visibility = "visible";
            };
        }
        
        picture.onclick = function(e) {
            e.stopPropagation();
            showNextPicture();            
        };
        
        gallery.onclick = function() {
            hideGallery();
        };
        
        var KEY_CODES = {
            SPACE: 8,
            ESCAPE: 27,
            LEFT_ARROW: 37,
            RIGHT_ARROW: 39,
        }
        
        
        document.body.onkeydown = function(e) {
            if(e.keyCode === KEY_CODES.SPACE || e.keyCode === KEY_CODES.RIGHT_ARROW) {
                showNextPicture();    
            }
            
            if(e.keyCode === KEY_CODES.LEFT_ARROW) {
                showPrevPicture();
            }
            
            if(e.keyCode === KEY_CODES.ESCAPE) {
                hideGallery();
            }
        };
    })();